@import '../../config.scss';

.how-to-header {
  background-color: white;
  padding-top: 50px;
}

.how-to-header__content{
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    justify-content: center;

    &__img{
        width: 10vw;
        &--left{
            margin-left: 20px;
        }
        &--right{
            margin-right: 20px;
        }
        @media (max-width: 300px){

        }

        img{
            width: 100%;
        }
    }

    &__title{
        margin: auto 10px;
        font-size: 5vw;
        font-family: $title-font;
        color: black;
    }
}

.how-to__row{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $cyan;
    border-bottom: 40px solid #4A4A4A;
    &--last{
        border:none;
    }
}
.how-to__col{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    color: white;
    a{
        color: blanchedalmond;
        &:hover{
            color: orange;
        }
    }
}

.backLink{
    color: white;
}
.how-to__title{
    font-size: 2em;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 20px;
    font-family: $title-font;
    @media (max-width: 800px) {
        font-size: 1.5em;
      }
}
.how-to__content{
    padding: 20px;
    font-size: 1.5em;
    text-align: left;
    @media (max-width: 800px) {
        font-size: 1em;
      }

    ul{
        margin: 20px

    }
}
