@import "config";

* {
    margin: 0;
    padding: 0;
    }
    
    html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $body-font;
    }
    
    *, *:before, *:after {
    box-sizing: inherit;
    }
    
    main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    }
    .content{
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    .info{
        align-items: center;
    
    }
    /* HEADER */
    
    .header{
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 20px;

        &__content{
            display: flex;
            flex-direction: row;
            padding-bottom: 10px;

            &__title{
                display: flex;
                flex-direction: column;

                &__title{
                    display: flex;
                    flex-direction: row;
                }
                &__undertitle{
                    font-size: 0.3em;
                    font-style: italic;
                    margin-top: -15px;
                }
            }
        }

        &__about{
            margin: 20px;
            margin-bottom: 30px;
            font-size: 1.6em;
            max-width: 600px;
            text-align: center;
            font-size: 1em;
        }
    }
    .header__title{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .header__content__title{
        padding-top: 20px; 
        font-size: 4em;
        align-self: center;
    }
    .header__content__undertitle{
        align-self: center;
    }
    .header__img{
        align-self: center;
        padding-right: 10px;
        img{
            width: 100px;
        }
    }
    
    /* ABOUT */

    /* WHAT CAN YOU DO WITH SMLY */
    
    
    
    /* CARDS */ 
    
    .gameIcon{
        cursor: pointer;
    }

    .cards{
        display: flex;
        flex-direction: row;
        height: 500px; 
        justify-content: space-around;
        max-width: 800px;
        margin: auto;
        padding-top: 40px;
    }
    .card{
        display: flex;
        width: 30%;
        padding-right: 20px;
        padding-left: 20px;
        border: 3px solid black;
        border-radius: 3px;
        height:300px;
        flex-direction: column;
        transition-timing-function: ease-in-out;
        transition-duration: 300ms;
        cursor: pointer;
    }
    .card:hover{
        background-color: grey;
    }
    .card__icon{
        height: 60%;
        padding: 30px;
    }
    .card__text{
        color: black;
        padding-left: 10px;
        padding-right: 10px;
        border-top: 2px solid black;
        text-align: center;
    }
    .card__text__title{
        font-size: 1.5em;
        text-align: center;
    }
    .card__text__description{
        padding-top: 10px;
    }
    
    
    @import "todocards";
    @import "howto";
    @import "about-page";
    @import "how-to-page";
    @import "aboutindex";
    @import "modalcomm";
    